<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="unmango" value="https://nuget.pkg.github.com/unmango/index.json" />
    <add key="UnstoppableMango" value="https://nuget.pkg.github.com/UnstoppableMango/index.json" />
  </packageSources>
</configuration>
